.comment
    display flex
    flex-direction column
    padding 22px 32px 32px 26px
    border-bottom 1px solid #dbd9dc

    &-user
        display flex
        align-items center

        &-pic
            width 72px
            height 72px
            background url('~assets/images/comment/user_01.png') no-repeat
            background-size cover
            margin-right 20px
            border-radius 50%

        &-info div
            color #666

    &-content
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 4
        margin 16px 0 0 90px
        overflow hidden
        color #333
        word-break break-all

    &-btns
        align-self flex-end
        display flex
        align-items center
        margin-top 30px

        &-chat
            display flex
            align-items center
            margin-right 20px

            span
                width 24px
                height 24px
                background-image url('~assets/images/comment/chat.png')
                background-size cover
                margin-right 10px

        &-love
            display flex
            align-items center

            span
                width 26px
                height 22px
                background-image url('~assets/images/comment/love.png')
                background-size cover
                margin-right 10px
