@import '~styles/common/_mixins.styl'

.common-header
    display flex
    align-items center
    justify-content space-between
    width 100%
    background #fff
    height 90px
    padding 0 15px

    &-login
        homeBgIcon(50px, 50px, '~assets/images/login.png')

    &-back
        width 46px
        height 26px
        backBtn()

    &-title
        max-width 70%
        color #333
        font-weight 500
        text-align center
        ellipsis()

    &-bg
        homeBgIcon(186px, 56px, '~assets/images/logo.png')

.common-header-search-light
    homeBgIcon(50px, 50px, '~assets/images/search_light.png')

.common-header-search-dark
    homeBgIcon(42px, 42px, '~assets/images/search_dark.png')