// 首页头部图标
homeBgIcon(width, height, url)
    width width
    height height
    background url(url)
    background-size contain

// 字体大小
fontSize(size)
    font-size size

// 单行省略
ellipsis()
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
