homeBgIcon(width, height, url)
    width width
    height height
    background url(url)
    background-size contain

fontSize(size)
    font-size size

ellipsis()
    text-overflow ellipsis
    overflow hidden
    white-space nowrap