@import '_variables'
@import '_atom'
@import '_mixins'

.font-20
    fontSize(20px)

.font-24
    fontSize(24px)

.font-28
    fontSize(28px)

.font-30
    fontSize(30px)

.font-32
    fontSize(32px)

.font-36
    fontSize(36px)