@import '~styles/common/_mixins.styl'

.book-list
    &-item
        display flex
        align-items center
        width 100%
        height 250px
        border-top 1px solid #dddddd
        padding 20px

        &-pic
            width 160px
            height 100%
            border-radius 6px
            background-repeat no-repeat
            background-size cover
            background-position top

        &-info
            flex 1
            height 100%
            display flex
            flex-direction column
            align-items flex-start
            justify-content space-between
            max-width 70%
            margin 0 0 0 20px
            color #999

            &-title
                color #333
                font-weight 500
                ellipsis()

    &-item:last-child
        border-bottom 1px solid #ddd
