@import '~styles/common/_mixins.styl'

.history
    &-nav
        display flex
        justify-content center
        align-items center
        width 100%
        height 90px
        margin 0 auto
        border-bottom 1px solid #b2b2b2
        background-color #f9f9f9
        position relative

        &-tabs
            display flex
            align-items center
            justify-content space-between
            width 240px
            height 100%

            &-item
                display flex
                align-items center
                position relative
                height inherit
                color #e7370c
                font-weight 500

        &-del
            width 34px
            height 38px
            background url('~assets/images/delete.png') no-repeat
            background-size contain
            position absolute
            top 26px
            right 36px

    & .active:after
        content ''
        width 80px
        height 9px
        background url('~assets/images/tab-active.png')
        background-size contain
        position absolute
        left -4px
        bottom 0
